---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="flex flex-col items-center text-center mb-8 relative z-10">
  <h2 class="text-4xl md:text-5xl font-bold mb-4 relative">
    {title}
    <span
      class="block h-1 w-32 mx-auto mt-4 bg-gradient-to-r from-primary via-support-1 to-support-2 rounded-full animate-pulse"
    ></span>
  </h2>

  <p class="text-xl max-w-2xl mx-auto mt-4 text-text/80">
    <slot />
  </p>
</div>
