---
import Card from "@/components/Card.astro";
import TitleSections from "@/components/TitleSections.astro";
---

<section class="py-24 px-6 max-w-6xl mx-auto relative">
  <TitleSections title="Nuestros Servicios SAP">
    Ofrecemos soluciones integrales para todas sus necesidades SAP
  </TitleSections>
  <!-- Cards de servicios con diseño elegante -->
  <Card />
</section>
