---
import TitleSections from "@/components/TitleSections.astro";
---

<section class="w-full py-16 bg-background flex items-center justify-center">
  <div
    class="max-w-2xl w-full px-6 mx-auto flex flex-col items-center text-center"
  >
    <TitleSections title="¿Qué es SAP?" />
    <p class="text-lg md:text-xl text-text/90">
      SAP es un sistema líder mundial en software de gestión empresarial (ERP)
      que integra y automatiza procesos clave como finanzas, compras, ventas y
      recursos humanos. Permite a las empresas tomar decisiones más
      inteligentes, optimizar recursos y crecer de forma sostenible.
    </p>
  </div>
</section>
