---
import Header from "@/sections/Header.astro";
import "./src/styles/global.css";

import "@fontsource-variable/lora";
import "@fontsource/poppins";
import Footer from "@/sections/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>INFRALUX | Automatiza y optimiza tu empresa con SAP</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
